{% extends 'base.html.twig' %}
{% block title %}Conference Guestbook{% endblock %}
{% block body %}
    <h2>Give your feedback!</h2>
        <header>
            <ul>
            {% for conference in conferences %}
                <li><a href="{{ path('conference', { slug: conference.slug })}}"> View {{ conference }}</a></li>
            {% endfor %}
            </ul>
            <hr />
        </header>
{% endblock %}